In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

In [2]:
df = purchase_data.assign(like=True)

In [3]:
df = df.drop('like',axis=1)

In [4]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

* Display the total number of players

In [5]:
players = df['SN'].nunique()
pd.DataFrame({'Total Players': [players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items = df['Item Name'].nunique()

In [7]:
average_price = df['Price'].mean()

In [8]:
purchase_count = df['Purchase ID'].count()

In [9]:
revenue = df['Price'].sum()

In [10]:
data = ({'Number of Unique Items':[unique_items],'Average Price':[average_price],\
             'Number of Purchases':[purchase_count],'Total Revenue':[revenue]})

In [11]:
summary = pd.DataFrame(data)

In [12]:
summary.style.format({"Average Price": "${:20,.2f}",\
                               "Total Revenue": "${:20,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
males_count = df[df['Gender'] == 'Male']['SN'].nunique()

In [14]:
females_count = df[df['Gender'] == 'Female']['SN'].nunique()

In [15]:
others_count = df[df['Gender'] == 'Other / Non-Disclosed']['SN'].nunique()

In [16]:
total = df['SN'].nunique()

In [17]:
male_portion = males_count/total*100
female_portion = females_count/total*100
others_portion = others_count/total*100

In [18]:
data = ({'Total Count':[males_count,females_count,others_count],\
         'Percentage of Players': [male_portion,female_portion,others_portion]})
index = ['Male','Female','Other / Non-Disclosed']

In [19]:
gender_summary = pd.DataFrame(data,index=index)

In [20]:
gender_summary.style.format({'Percentage of Players':"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [22]:
result = df.groupby(['Gender']).agg(['count','mean','sum'])['Price']\
                      .rename(columns={'count':'Purchase Count',\
                                'mean':'Average Purchase Price',\
                                'sum':'Total Purchase Value'})

In [23]:
result

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [24]:
result['Avg Total Purchase per Person'] = result['Total Purchase Value']/gender_summary['Total Count']

In [25]:
result.style.format({"Average Purchase Price": "${:20,.2f}",\
                       "Total Purchase Value": "${:20,.2f}",\
                       "Avg Total Purchase per Person": "${:20,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [27]:
df.drop_duplicates("SN", inplace=True)

In [28]:
df['Age'].max()

45

In [29]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
group_names = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39", "40+"]


df["AgeRange"] = pd.cut(df["Age"], bins, labels=group_names)

In [30]:
df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,AgeRange
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02,20-24
774,774,Jiskjask80,11,Male,101,Final Critic,4.19,10-14
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10

In [31]:
age_summary = df.groupby(['AgeRange']).agg(['count'])['SN'].rename(columns={'count':'Total Count'})

In [32]:
age_summary['Percentage']=age_summary['Total Count']/age_summary['Total Count'].sum()*100

In [33]:
age_summary.style.format({'Percentage' : "{:20,.2f} %"})

## Reset

In [34]:
df = purchase_data.assign(like=True).drop('like',axis=1)
df["AgeRange"] = pd.cut(df["Age"], bins, labels=group_names)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
purchase_summary = df.groupby(['AgeRange']).agg(['count','mean','sum'])['Price']\
                                        .rename(columns={'sum':'Total Purchase Value',\
                                                    'mean':'Average Purchase Price',\
                                                    'count':'Purchase Count'})

In [60]:
purchase_summary['Average Total Purchase per Person'] \
= purchase_summary['Total Purchase Value']/age_summary['Total Count']

In [64]:
purchase_summary.style.format({'Average Purchase Price': "${:20,.2f}",\
                               'Total Purchase Value':"${:20,.2f}",\
                                 'Average Total Purchase per Person':"${:20,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

*Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

SN
Purchase Count
Average Purchase Price
Total Purchase Value

In [65]:
snsummary = df.groupby(['SN']).agg(['count','mean','sum'])['Price']\
                            .sort_values(by='sum', ascending=False)\
                            .rename(columns={'count':'Purchase Count','mean':'Average Purchase Price','sum':'Total Purchase Value'})\
                            .head(5)

In [66]:
snsummary.style.format({'Average Purchase Price':"${:20,.2f}",'Total Purchase Value':"${:20,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [69]:
itemsummary = df.groupby(['Item ID','Item Name']).agg(['count','mean','sum'])['Price']\
                            .sort_values(by='count', ascending=False)\
                            .rename(columns={'count':'Purchase Count', 'mean':'Item Price','sum':"Total Purchase Value"})\
                            .head(5)

In [70]:
itemsummary.style.format({'Item Price':"${:20,.2f}", "Total Purchase Value":"${:20,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [42]:
itemsummary2 = df.groupby(['Item ID','Item Name']).agg(['count','mean','sum'])['Price']\
                            .sort_values(by='sum', ascending=False)\
                            .rename(columns={'count':'Purchase Count', 'mean':'Item Price','sum':"Total Purchase Value"})\
                            .head(5)

In [43]:
itemsummary2.style.format({'Item Price':"${:20,.2f}", "Total Purchase Value":"${:20,.2f}"})